.unojs-util-voltage-monitor {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #222;
    position: fixed;
    top: 20px;
    width: 350px;
    left: calc(100vw - 370px);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
    max-height: calc(100vh - 40px);
    overflow-y: auto;
    overflow-x: hidden;
    user-select: none;
    outline: none;
    cursor: default;
}

.unojs-util-voltage-monitor::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.unojs-util-voltage-monitor::-webkit-scrollbar-thumb {
    background-color: #FFF5;
}

.unojs-util-voltage-monitor > .digital-panel,
.unojs-util-voltage-monitor > .analog-panel {
    display: flex;
}

.digital-panel > .digital-values,
.analog-panel > .analog-values {
    background-color: #1112;
    width: 40px;
}

.digital-panel > .digital-canvas,
.analog-panel > .analog-canvas {
    width: 270px;
}

.digital-values > .value-label,
.analog-values > .value-label {
    font-size: 10px;
    text-align: center;
    color: #FFF7;
    height: 30px;
    line-height: 30px;
}

.analog-index > .value-index,
.analog-values > .value-label,
.digital-index > .value-index,
.digital-values > .value-label {
    font-size: 10px;
    text-align: center;
    color: #FFF5;
    height: 30px;
    line-height: 30px;
    width: 40px;
}

.unojs-util-voltage-monitor > .analog-panel-title, 
.unojs-util-voltage-monitor > .digital-panel-title {
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #FFF6;
    font-size: 12px;
    background-color: #1118;
}